<BR>
  <UL>
    <% if @items.empty? -%>
    <LI><B>No Files Found</B></LI>
    <% else -%>
      <% for item in @items -%>
      
        <INPUT type="checkbox" name="rawfile[]" 
          value="<%= item.id -%>"  
          checked />
        <%= item.name %> <BR>
        </li>
      <% end -%>
    <% end -%>
</UL>

